.contenedor{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 padding-top: 1rem;
 background-color: black;

}

.logo{
    width:150px;
}
.volver {
    color: white;
    text-decoration: none;
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.create{
    width: 100px;
    margin-left: 3rem;
}
.crearText{
    color:white;
    text-transform: uppercase;
    

}
.link{
    text-decoration: none;
}
